.fixture,
.score {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home,
.away {
    display: flex;
    align-items: center;
    flex-basis: 130px;
}

.home {
    .img {
        margin-left: auto;
    }
}

.img {
    width: 65px;
}

input {
    margin: 10px;
    text-align: center;
    width: 35px;

    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
